//Based off bootstrap-icons's scss
$bootstrap-icons-font: "bootstrap-icons" !default;
$bootstrap-icons-font-src: url("#{$bootstrap-icons-font}.woff2") format("woff2"), url("#{$bootstrap-icons-font}.woff") format("woff") !default;

@font-face {
  font-display: block;
  font-family: $bootstrap-icons-font;
  src: $bootstrap-icons-font-src;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: $bootstrap-icons-font !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$bootstrap-icons-map: (
    "discord": "\f300",
    "github": "\f3ed",
    "globe2": "\f3ef",
    "twitter": "\f5ef",
    "funnel": "\f3e1",
    "moon-fill": "\f494",
    "brightness-high-fill": "\f1d1",
    "mastodon": "\f647",
) !default;

.bi-discord::before { content: map-get($bootstrap-icons-map, "discord"); }
.bi-github::before { content: map-get($bootstrap-icons-map, "github"); }
.bi-globe2::before { content: map-get($bootstrap-icons-map, "globe2"); }
.bi-twitter::before { content: map-get($bootstrap-icons-map, "twitter"); }
.bi-funnel::before { content: map-get($bootstrap-icons-map, "funnel"); }
.bi-moon-fill::before { content: map-get($bootstrap-icons-map, "moon-fill"); }
.bi-brightness-high-fill::before { content: map-get($bootstrap-icons-map, "brightness-high-fill"); }
.bi-mastodon::before { content: map-get($bootstrap-icons-map, "mastodon"); }
