/*
 * Styling for project pages 
 */
.layout {
    display: grid;
    margin-top: 1em;
    margin-bottom: 2em;
    gap: .5em 2em;
}

.layout-article {
    grid-template-columns: minmax(20em, auto) minmax(0, 1fr) minmax(12em, 15%);
    grid-template-rows: auto auto;
    grid-template-areas:
        'toc article aside';

    @media only screen and (max-width: $aside-break) {
        grid-template-areas: 'toc article article';
    }

    @media only screen and (max-width: 1100px) {
        grid-template-columns: 100%;
        grid-template-areas:
            'toc'
            'article'
    }

    @media print {
        grid-template-columns: 100%;
        grid-template-areas:
            'article'
    }

    article {
        grid-area: article;
    }

    aside {
        grid-area: aside;

        // Small sizes we hide the aside
        @include media-breakpoint-down(xl) {
            display: none;
        }

        //Don't display on print
        @media print {
            display: none;
        }
    }
}

.layout-aside {
    grid-template-columns: minmax(0, 1fr) minmax(12em, 15%);
    grid-template-areas: 'article aside';

    @media only screen and (max-width: 1100px) {
        grid-template-columns: 100%;
    }
}

.layout-toc {
    grid-area: toc;

    @media print {
        display: none;
    }
}

//
// Metabar
//
.metabar {
    color: #999;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: center;
}

.metabar > li {
    margin: 0 6px;
}

.contributors {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &>li {
        margin: 0 4px;
    }

    img {
        border-radius: 50%;
    }
}

//
// Aside
//
.in-this-article {
    padding-top: .5em;
    font-size: 14px;

    h6 {
        font-size: 1.4em !important;
    }

    h6::before {
        content: "\f479";
        font-size: 1.1em;
        padding-right: 0.2em;
    }

    .nav {
        display: block;
        max-height: 50vh;
        overflow-y: auto;
        scrollbar-color: var(--bs-body-color) var(--bs-body-bg);

        a {
            border-left: $aside-border-size solid transparent;
            padding: 2px 4px 2px 0.75rem;
            color: var(--bs-body-color);
        }

        a.active {
            border-left: $aside-border-size solid var(--bs-body-color);
            color: var(--bs-link-color);
        }

        a:hover {
            border-left: $aside-border-size solid var(--bs-body-color);
        }

        .type-h3 {
            margin-left: 1em;
        }

        .type-h4 {
            margin-left: 2em;
        }

        .type-h5 {
            margin-left: 3em;
        }

        .type-h6 {
            margin-left: 4em;
        }
    }
}

//
// Search Styling
//
.project-search {
    border-color: $secondary;
}

.popover-search {
    --bs-popover-max-width: 35em;
}

//
// TOC Styling
// 
.toc-toggler {
    --btn-active-icon: #{escape-svg($accordion-button-active-icon)};

    display: none;
    width: 100%;
    
    padding: #{$accordion-button-padding-y} #{$accordion-button-padding-x};
    background-color: #{$accordion-button-bg};

    text-align: left;
    @include font-size($font-size-base);
    
    border: 0;
    @include border-radius(0);

    &:hover {
        z-index: 2;
    }

    &:focus {
        z-index: 3;
        outline: 0;
        box-shadow: #{$accordion-button-focus-box-shadow};
        border-radius: #{$accordion-border-radius};
    }

    &::after {
        flex-shrink: 0;
        width: #{$accordion-icon-width};
        height: #{$accordion-icon-width};
        margin-left: auto;
        content: "";
        background-image: var(--btn-active-icon);
        background-repeat: no-repeat;
        background-size: #{$accordion-icon-width};
        @include transition(#{$accordion-icon-transition});
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .toc-toggler {
            --btn-active-icon: #{escape-svg($accordion-button-active-icon-dark)};
        }
    }
}

@include media-breakpoint-down(lg) {
    .toc-toggler {
        display: flex;
    }

    .toc-container {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-radius: var(--bs-border-radius);
    }

    .toc-panel {
        padding: 1em;
    }
}

.toc-container {
    position: sticky;
    top: 0;

    &:has(> .toc-panel.show, > .toc-panel.collapsing) {
        .toc-toggler {
            border-bottom: var(--bs-border-width) solid var(--bs-border-color);

            &::after {
                transform: #{$accordion-icon-transform};
            }
        }
    }
}

.toc {
    padding-top: .5em;
    font-size: 14px;

    a {
        text-decoration: none;
    }

    a:not(.active):not(.filtered) {
        color: inherit
    }

    a:not([href]) {

        &,
        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }

    ul {
        padding-left: 16px;
        list-style-type: none;
    }

    li {
        padding: .25em 0;
    }

    li>ul {
        display: none;
    }

    li.filtered>ul,
    li.active>ul {
        display: block
    }

    .toggle::before {
        display: inline-block;
        margin: 0 0 0 -1.25em;
        cursor: pointer;
        width: 1.25em;
        transition: transform 0.35s ease;
        transform-origin: .5em 50%;
    }

    .toggle>svg {
        stroke: var(--bs-body-color);
    }

    .filtered>a>.toggle>svg,
    .active>a>.toggle>svg {
        transform: rotate(90deg);
    }

    .hide {
        display: none;
    }
}

// Filter Input Control
.filter {
    .filter-icon {
        font-size: 1rem;
        top: .40rem;
        left: .65rem;
    }

    .filter-control {
        padding-left: 1.9rem;
    }
}