@import 'highlight.js/styles/github-dark.css';

$primary: #2d74b2 !default;
$border-radius: .375rem !default;
$grid-breakpoints: (
        xs: 0,
        sm: 580px,
        md: 760px,
        lg: 1100px,
        xl: 1400px,
        xxl: 1900px
) !default;

@import 'bootstrap/scss/mixins/_breakpoints.scss';

@import './layout.scss';
@import './article.scss';
@import './markdown.scss';
@import './nav.scss';
@import './toc.scss';
@import './dotnet.scss';
