@using VoltProjects.Server.Models.Searching
@model VoltProjects.Server.Models.View.SearchViewModel

@{
    Layout = null;
}

@if (Model.SearchResult == null)
{
    <span>Start typing to search...</span>
}
else
{
    @if (Model.SearchResult.TotalItemCount > 0)
    {
        @foreach (SearchResult page in Model.SearchResult.Items)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="d-block">
                            @(page.Title)
                        </span>
                    </h5>

                    <p class="card-text">
                        @Html.Raw(page.Headline))
                    </p>

                    <a href="/@(page.ProjectName)/@(page.ProjectVersion)/@(page.Path)" class="btn btn-primary">View Page</a>
                </div>
            </div>
        }
        
        @if (Model.SearchResult.Items.Length < Model.SearchResult.TotalItemCount)
        {
            <a href="/search/?query=@(Model.Query)&project=@(Model.Project!.ProjectId)|@(Model.Project.Id)">More results...</a>
        }
    }
    else
    {
        <span>No results were found using that query in this project...</span>
    }
}
