@using System.Net
@model VoltProjects.Server.Models.View.ErrorViewModel
@{
    ViewBag.Title = "Error";
    ViewBag.IsError = true;
    ViewBag.Description = "VoltProjects - Error...";
}

@if (Model.ProjectNavModel != null)
{
    @section NavbarSecond
    {
        <partial name="/Views/Project/Shared/ProjectNav.cshtml" model="Model.ProjectNavModel"/>
    }
}

<!-- 01000101 01110010 01101111 01101111 01110010 -->
<div class="container">
    <div class="hero container">
        <div class="hero-content">
            <h1>@Model.ErrorCode - @Model.ErrorMessage</h1>
            <div class="lead">
                <p>@Model.ErrorMessageDetailed</p>
            </div>
            @if (Model.ErrorCode == HttpStatusCode.NotFound)
            {
                <div class="actions">
                    @if (Model.ProjectNavModel != null)
                    {
                        <a class="btn btn-primary btn-lg" href="@Model.ProjectNavModel.BasePath">Go to Project Index</a>
                    }
                    <a class="btn btn-primary btn-lg" href="/">Go to Index</a>
                </div>
            }
        </div>
    </div>
</div>