//Setup Fonts
@import "@fontsource/roboto/400";
@import "@fontsource/roboto/900";
@import "firacode/distr/fira_code";
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Fira Code', monospace;

//Main include of Bootstrap
@import "_variable";
@import "bootstrap/scss/bootstrap.scss";

//Include our shit
@import "./core/hero";
@import "./core/footer";
@import "./core/icons";
@import "./core/nav";

//Project View
@import "./projectview/main";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

img {
  max-width: 100%;
}

.prj-icon {
  @include media-breakpoint-up(md) {
    height: 128px;
  }

  background-size: cover;
  background-position: center center;
}

.prj-about {
  height: 64px !important;
}

.prj-title {
  text-decoration: none;
  font-weight: 600;
  color: var(--bs-body-color);
}

.prj-title:hover {
  text-decoration: none;
}

.btn-primary {
  color: white !important;
}