//Include fonts first
@import "@fontsource/roboto/400";
@import "@fontsource/roboto/900";
@import "firacode/distr/fira_code";

//Main includes
@import "setup";
@import "icons";
@import "bootstrap/scss/bootstrap";

//Main layout styling
@import "layout";
@import "syntaxHighlight";

//Project View
@import "projects/main";

.prj-icon {
    @include media-breakpoint-up(md) {
        height: 128px;
    }

    background-size: cover;
    background-position: center center;
}

.prj-about {
    height: 64px !important;
}

.prj-title {
    text-decoration: none;
    font-weight: 600;
    color: var(--bs-body-color);
}

.prj-title:hover {
    text-decoration: none;
}
