:root, [data-bs-theme="light"] {
    --hljs-color: #24292e;
    --hljs-key-color: #d73a49;
    --hljs-var-color: #005cc5;
    --hljs-fuc-color: #6f42c1;
    --hljs-string-color: #032f62;
    --hljs-symbol-color: #e36209;
    --hljs-formula-color: #6a737d;
    --hljs-selector-color: #22863a;
    --hljs-subst-color: #24292e;
    --hljs-section-color: #005cc5;
    --hljs-bullet-color: #735c0f;
    --hljs-emphase-color: #24292e;
    --hljs-strong-color: #24292e;
    --hljs-addition-color: #22863a;
    --hljs-addition-bg-color: #f0fff4;
    --hljs-deletion-color: #b31d28;
    --hljs-deletion-bg-color: #ffeef0;
}

@if $enable-dark-mode {
    @include color-mode(dark, true) {
        --hljs-color: #c9d1d9;
        --hljs-key-color: #ff7b72;
        --hljs-var-color: #79c0ff;
        --hljs-fuc-color: #d2a8ff;
        --hljs-string-color: #a5d6ff;
        --hljs-symbol-color: #ffa657;
        --hljs-formula-color: #8b949e;
        --hljs-selector-color: #7ee787;
        --hljs-subst-color: #c9d1d9;
        --hljs-section-color: #1f6feb;
        --hljs-bullet-color: #f2cc60;
        --hljs-emphase-color: #c9d1d9;
        --hljs-strong-color: #c9d1d9;
        --hljs-addition-color: #aff5b4;
        --hljs-addition-bg-color: #033a16;
        --hljs-deletion-color: #ffdcd7;
        --hljs-deletion-bg-color: #67060c;
    }
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: var(--hljs-color);
    background-color: var(--bs-tertiary-bg);
    border-radius: $border-radius;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: var(--hljs-key-color);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: var(--hljs-fuc-color);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: var(--hljs-var-color);
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: var(--hljs-string-color);
}

.hljs-built_in,
.hljs-symbol {
    color: var(--hljs-symbol-color);
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: var(--hljs-formula-color);
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: var(--hljs-selector-color);
}

.hljs-subst {
    color: var(--hljs-subst-color);
}

.hljs-section {
    color: var(--hljs-section-color);
    font-weight: 700
}

.hljs-bullet {
    color: var(--hljs-bullet-color);
}

.hljs-emphasis {
    color: var(--hljs-emphase-color);
    font-style: italic
}

.hljs-strong {
    color: var(--hljs-strong-color);
    font-weight: 700
}

.hljs-addition {
    color: var(--hljs-addition-color);
    background-color: var(--hljs-addition-bg-color);
}

.hljs-deletion {
    color: var(--hljs-deletion-color);
    background-color: var(--hljs-deletion-bg-color);
}
