<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.Title - VoltProjects</title>
  <link rel="stylesheet" href="~/dist/main.css" />
<body>
  <main class="container-xxl">
    @RenderBody()
  </main>
  <script type="text/javascript" src="~/dist/site.js" defer></script>
</body>
</html>