@using VoltProjects.Server.Shared.Helpers

<!DOCTYPE html>
<html lang="en" data-bs-theme="@MvcHelper.GetUserTheme(Context.Request)">
<head>
    @await Component.InvokeAsync("MetaTags")
    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="preload" as="style" href="~/assets/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/assets/main.css" asp-append-version="true"/>
    @await RenderSectionAsync("TopInclude", false)
</head>

<body>
<header class="shadow-sm d-print-none">
    <partial name="NavBar"/>
    @await RenderSectionAsync("NavbarSecond", false)
</header>
<main>
    @RenderBody()
    @await RenderSectionAsync("BottomJs", false)
</main>
@await Component.InvokeAsync("Footer")
<script type="module" src="~/js/main.js" asp-append-version="true" defer></script>
@await RenderSectionAsync("BottomInclude", false)
</body>
</html>