@using VoltProjects.Server.Shared

<div class="footer-container">
    <div class="container">
        <footer class="row text-muted">
            <div class="col-md-10 col-sm-12">
                <p class="text-body-secondary">Copyright (c) 2022-2023 Voltstro</p>
                
                <p>
                    VoltProjects is licensed under the <a class="text-decoration-none" href="https://github.com/Voltstro/VoltProjects/blob/master/LICENSE">GPL-3.0 License</a>. The content served may be licensed under a different license.
                    <br />
                    @(WordingUtils.GetHandingWithWord()) VoltProjects v@(Versioning.Version) - <a class="text-muted text-decoration-none" href="@($"https://github.com/Voltstro/VoltProjects/commit/{Versioning.GitHashFull}")">@Versioning.GitHashSmall</a>
                </p>
                
            </div>
            
            
            
            <div class="col-md-2 col-sm-12 text-end">
                <div class="dropup dropup-center"> 
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Theme
                  </button>
                  <ul class="dropdown-menu">
                      <li>
                          <button class="dropdown-item active">
                              <i class="bi bi-moon-fill"></i> Dark
                          </button>
                      </li>
                      <li>
                          
                          <button class="dropdown-item">
                              <i class="bi bi-brightness-high-fill"></i> Light
                          </button>
                      </li>
                  </ul>
                </div>
            </div>
        </footer>
    </div>
</div>



