@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using VoltProjects.Server.Shared.Helpers

<nav class="navbar navbar-expand-md border-bottom">
    <div class="container">
        <a class="navbar-brand" asp-controller="Main" asp-action="Index">Volt Projects</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li>
                    <a class="nav-link @Html.ActiveClass("Main", "About")" asp-controller="Main" asp-action="About">About</a>
                </li>
            </ul>
            
            @* Admin Dropdown *@
            @if (User.Identity?.IsAuthenticated == true)
            {
                <ul class="d-flex m-0 p-0">
                    <div class="dropdown">
                        <button class="btn btn-link d-flex align-items-center text-white text-decoration-none dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/Voltstro.png" alt="User Icon" class="rounded-circle me-2" width="38" height="38">
                            <strong>@User.FindFirstValue("name")</strong>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Signout">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            }
        </div>
    </div>
</nav>