@model VoltProjects.Server.Models.View.ProjectViewModel

@{
    ViewBag.Title = $"{Model.ProjectPage.Title} - {Model.ProjectPage.ProjectVersion.Project.Name}";
    ViewBag.Description = Model.ProjectPage.Description;
}

@section NavbarSecond
{
    <partial name="ProjectNav" model="Model.ProjectNavModel"/>
}

<div class="container layout @(Model.ProjectPage is { Aside: true } ? "layout-article" : "") @(Model.ProjectPage.Aside && Model.Toc == null ? "layout-aside" : "")">
    @if (Model.Toc != null)
    {
        <partial name="Shared/ProjectToc" model="Model.Toc"/>
    }
    
    <article>
        <partial name="Shared/ProjectHeader" model="Model.ProjectHeaderModel"/>
        <!-- Project Page Content -->
        @Html.Raw(Model.ProjectPage.Content)
    </article>
    
    @if (Model.ProjectPage.Aside)
    {
        <aside>
            <div class="sticky-top">
                <nav id="in-this-article" class="in-this-article"></nav>
            </div>
        </aside>
    }
</div>

