@using VoltProjects.Server.Models
@model VoltProjects.Server.Models.View.AboutViewModel
@{
    ViewBag.Title = "About";
    ViewBag.Description = "VoltProjects - Information on the Volt Project service";
}

<div class="hero" id="hero">
    <div class="container">
        <div class="hero-content">
            <h1>About Volt Projects</h1>
            <div class="lead">
                <p>Information on the Volt Project service.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="pt-5">About</h2>
    <p>Volt Projects is a centralized service for building and hosting documentation of
        <a href="http://github.com/Voltstro">Voltstro</a> and <a href="http://github.com/Voltstro-Studios">Voltstro-Studio</a>
        projects. Instead of having to manually build docs, and host them all on separate sub-domains, Volt Projects does it all automatically, and does it all in one place.</p>

    <h2 class="pt-4">Open-Source</h2>
    <p>Volt Projects is entirely open-source! You can make contributions back, or simply host your own instance for your own projects.</p>
    <p>You can find the <a href="https://github.com/Voltstro/VoltProjects">source code on GitHub!</a></p>
    
    <h2 class="pt-4">Developers</h2>
    <div class="row">
        @foreach (AboutDev developer in Model.Developers)
        {
            <partial name="Shared/AboutDev" model="developer"/>
        }
    </div>

    <h2 class="pt-4">Thanks</h2>
    <p>Thank you to all the open-source projects that Volt Projects uses!</p>
    
    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5 g-3 align-items-start">
        @foreach (OpenSourceProject project in Model.Projects)
        {
            <partial name="Shared/AboutProject" model="project"/>
        }
    </div>
    
    <p class="text-muted">The projects listed here have no associations with Volt Projects, they are just really cool, and have fancy icons.
        <br/>
        (For a complete list of dependencies, <a href="https://github.com/Voltstro/VoltProjects/network/dependencies">see here</a>)</p>
    <p>Thank you to my parents and friends as well.</p>
</div>