@{
    ViewBag.Title = "About";
}
<div class="hero container-xxl">
    <div class="hero-content">
        <h1>About Volt Projects</h1>
        <div class="lead">
            <p>About "Volt Projects"</p>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="lead container-xxl">
        <h2>So, what is "Volt Projects"?</h2>
        <p>Volt Projects serves the purpose to host Voltstro/Voltstro-Studios project's documentation online.</p>
        <p>This site will automatically update project's documentation from their repos when a new tag is created in the project's git repo.</p>
    </div>
    <div class="pt-4 lead container-xxl">
        <h2>Is Volt Projects open-source?</h2>
        <p>Yes, Volt Projects is <a href="https://github.com/Voltstro/VoltProjects">open-source, with it's full source-code available on GitHub</a>. It is licensed under the AGPL-3.0 license.</p>
        <p>The documentation Volt Projects serves is also open-source, but the content may be under a different license (see the project's Git repo for licensing info).</p>
    </div>
    <div class="pt-5 container-xxl">
        <h2>Thanks.</h2>
        <p>Thanks to the open-source projects that Volt Projects uses.</p>
        <ul>
            <li>
                <a href="https://dotnet.microsoft.com/en-us/apps/aspnet">ASP.NET Core (and .NET)</a>
            </li>
            <li>
                <a href="https://getbootstrap.com/">Bootstrap</a>
            </li>
            <li>
                <a href="https://github.com/libgit2/libgit2sharp/">LibGit2Sharp</a>
            </li>
            <li>
                <a href="https://serilog.net/">Serilog</a>
            </li>
            <li>
                <div>
                    <a href="https://vitejs.dev/">Vite</a>
                    <p>And I guess the other billion dependencies you end up with the moment you touch Node.</p>
                </div>
            </li>
        </ul>
    </div>
    
</div>