@{
    ViewBag.Title = "About";
    ViewBag.Description = "VoltProjects - Information about VoltProjects";
}
<div class="hero container">
    <div class="hero-content">
        <h1>About Volt Projects</h1>
        <div class="lead">
            <p>Information on what Volt Project is.</p>
        </div>
    </div>
</div>
<div class="container">
    <h2>About</h2>
    <p>Volt Projects is a site that can build online static documentation of different defined projects, and serve the content built.</p>

    <h2 class="pt-4">Open-Source</h2>
    <p>Volt Projects is entirely open-source! You can make contributions back, or simply host your own instance for your own projects.</p>
    <a href="https://github.com/Voltstro/VoltProjects">Source code available on GitHub!</a>
    
    <h2 class="pt-4">Developers</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 align-items-start">
        <div class="card shadow-sm">
            <div class="p-2 d-inline-flex contributors">
                <img src="https://github.com/Voltstro.png?size=128" alt="Voltstro"/>
                <div class="ps-3">
                    <h3><a href="https://github.com/Voltstro">Voltstro</a></h3>
                    <p>Initial work</p>
                    <div class="text-start fs-4">
                        <a class="bi bi-github" href="https://github.com/Voltstro"></a>
                        <a class="bi bi-twitter" href="https://twitter.com/Voltstro"></a>
                        <a class="bi bi-globe2" href="https://voltstro.dev"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="pt-4">Thanks</h2>
    <p>Thank you to all the open-source projects that Volt Projects uses!</p>
    
    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5 g-3 align-items-start">
        <div class="col">
            <div class="card shadow-sm text-center p-2">
                <a href="https://dot.net">
                    <img class="p-1 prj-icon mx-auto d-block" alt=".NET Logo" src="~/assets/logo-dotnet.svg"/>
                    <h4>.NET</h4>
                </a>
            </div>
        </div>
        
        <div class="col">
            <div class="card shadow-sm text-center p-2">
                <a href="https://getbootstrap.com/">
                    <img class="p-1 prj-icon mx-auto d-block" alt="Bootstrap Logo" src="~/assets/logo-bootstrap.svg"/>
                    <h4>Bootstrap</h4>
                </a>
            </div>
        </div>
        
        <div class="col">
            <div class="card shadow-sm text-center p-2">
                <a href="https://github.com/libgit2/libgit2sharp/">
                    <img class="p-1 prj-icon mx-auto d-block" alt="LibGit2Sharp Logo" src="~/assets/logo-libgit2sharp.svg"/>
                    <h4>LibGit2Sharp</h4>
                </a>
            </div>
        </div>
        
        <div class="col">
            <div class="card shadow-sm text-center p-2">
                <a href="https://serilog.net/">
                    <img class="p-1 prj-icon mx-auto d-block" alt="Serilog Logo" src="~/assets/logo-serilog.svg"/>
                    <h4>Serilog</h4>
                </a>
            </div>
        </div>
        
        <div class="col">
            <div class="card shadow-sm text-center p-2">
                <a href="https://vitejs.dev/">
                    <img class="p-1 prj-icon mx-auto d-block" alt="Vite Logo" src="~/assets/logo-vite.svg"/>
                    <h4>Vite</h4>
                </a>
            </div>
        </div>
    </div>
    
    <p>(For a complete list of dependencies, <a href="https://github.com/Voltstro/VoltProjects/network/dependencies">see here</a>)</p>
    <p>Thank you to my parents and friends as well.</p>
</div>