@{
    ViewBag.Title = "Home";
}
<div class="hero container-xxl">
    <div class="hero-content">
        <h1>Volt Projects</h1>
        <div class="lead">
            <p>The documentation site for Voltstro related projects.</p>
        </div>
    </div>
</div>