@using VoltProjects.Shared.Models
@model VoltProjects.Server.Models.View.MainViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Volt Projects - Find all documentation available related to Voltstro's projects in one place!";
}

<div class="hero" id="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Volt Projects</h1>
            <div class="lead">
                <p>Find all documentation available related to Voltstro's projects in one place!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="pt-5">Projects</h2>
    <h4 class="pt-1">Listing of all projects documentation that is currently on-hand.</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <cache>
            @foreach (Project project in Model.Projects)
            {
                string defaultVersion = project.ProjectVersions.FirstOrDefault(x => x.IsDefault)!.VersionTag;
                @:<div class="col py-3">
                <div class="card shadow h-100">
                    <div class="row g-0 h-100">
                        <div class="col-12 col-xl-3">
                            @if (project.IconPath != null)
                            {
                                <img class="prj-icon mx-auto mt-3 d-block rounded" alt="@project.Name's Project Icon" src="@(System.IO.Path.Combine(Model.PublicUrl, project.Name, project.IconPath))"/>
                            }
                        </div>
                        <div class="col-12 col-xl-9 card-body">
                            <div class="d-inline-flex flex-column h-100">
                                <div class="row">
                                    <h5 class="card-title">
                                        <a class="prj-title" href="/@project.Name/@defaultVersion/">@project.DisplayName</a>
                                    </h5>
                                    <p class="card-text">@project.Description</p>
                                </div>
                                <div class="row flex-grow-1 pt-3">
                                    <div class="mt-auto">
                                        <div class="btn-group dropend d-flex d-lg-block">
                                            <a class="btn btn-primary" href="/@project.Name/@defaultVersion/">View</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                @:</div>
            }
        </cache>
    </div>
</div>