@using VoltProjects.Server.Models
@model VoltProjects.Server.Models.ProjectInfo[]
@{
    ViewBag.Title = "Home";
    ViewBag.Description = "VoltProjects - Find all documentation available related to Voltstro's projects in one place!";
}

<div class="hero" id="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Volt Projects</h1>
            <div class="lead">
                <p>Find all documentation available related to Voltstro's projects in one place!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="pt-5">Projects</h2>
    <h4 class="pt-1">Listing of all projects documentation that is currently on-hand.</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <cache>
            @foreach (ProjectInfo project in Model)
            {
                <div class="col py-3">
                    <div class="card shadow h-100">
                        <div class="row g-0 h-100">
                            <div class="col-12 col-xl-3">
                                <img class="prj-icon mx-auto mt-3 d-block rounded" alt="Project Icon" src="@project.IconPath"/>
                            </div>
                            <div class="col-12 col-xl-9 card-body">
                                <div class="d-inline-flex flex-column h-100">
                                    <div class="row">
                                        <h5 class="card-title">
                                            <a class="prj-title" href="/@project.Name/@project.DefaultVersion/">@project.DisplayName</a>
                                        </h5>
                                        <p class="card-text">@project.Description</p>
                                    </div>
                                    <div class="row flex-grow-1 pt-3">
                                        <div class="mt-auto">
                                            <div class="btn-group dropend d-flex d-lg-block">
                                                <a class="btn btn-primary" href="/@project.Name/@project.DefaultVersion/">View</a>
                                                @if (project.OtherVersions.Length > 0)
                                                {
                                                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="visually-hidden">Toggle Dropend</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item active" href="/@project.Name/@project.DefaultVersion/">Latest</a>
                                                        </li>
                                                        @foreach (string version in project.OtherVersions)
                                                        {
                                                            <li>
                                                                <a class="dropdown-item" href="/@project.Name/@version/">@version</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </cache>
    </div>
</div>