@using VoltProjects.Server.Shared
@model VoltProjects.Server.Models.IndexPageModel
@{
    ViewBag.Title = "Home";
    ViewBag.Description = "VoltProjects - The documentation site for Voltstro related projects";
}
<div class="hero" id="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Volt Projects</h1>
            <div class="lead">
                <p>The documentation site for Voltstro related projects.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <h2>Projects</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 align-items-start">
        <cache>
            @foreach (VoltProject project in Model.Projects.Where(x => !x.Hidden))
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/@project.Name/" class="p-1">
                            <div class="d-inline-flex justify-content-center">
                                @if (project.IconPath != null)
                                {
                                    <img alt="Project Icon" src=@($"/{project.Name}/projecticon{System.IO.Path.GetExtension(project.IconPath)}") width="100em"/>
                                }

                                @if (project.NameShort != null)
                                {
                                    <div class="p-2">
                                        <h2 class="d-none d-xl-block">@project.Name</h2>
                                        <h2 class="d-block d-xl-none">@project.NameShort</h2>
                                    </div>
                                }
                                else
                                {
                                    <h2 class="p-2">@project.Name</h2>
                                }
                            </div>
                        </a>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="/@project.Name/">View</a>
                            <a class="btn btn-sm btn-outline-secondary" href="@project.GitPath">Git Repo</a>
                        </div>
                    </div>
                </div>
            }
        </cache>
    </div>
</div>