@using System.Security.Claims

@{
ViewBag.Title = "Home";
}

<div class="container pt-4 ps-4">
    <h3>Welcome, @User.FindFirstValue("name")!</h3>
    <p>Manage projects, builds and settings through this admin menu.</p>
    
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    v
    <p>Hello</p>
    <p>Hello</p>
    v
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    v
    <p>Hello</p>
    v
    v
    v
    <p>Hello</p>
    <p>Hello</p>
    vv
    v
    v
    v
    v
    vv
    v
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
</div>