//
// Main Project Layout
//
.layout {
    display: grid;
    margin-top: 1em;
    margin-bottom: 2em;
    gap: .5em 2em;
}

.layout-article {
    grid-template-columns: minmax(20em, auto) minmax(0, 1fr) minmax(12em, 15%);
    grid-template-rows: auto auto;
    grid-template-areas:
    'toc article aside';

    @media only screen and (max-width: $aside-break) {
        grid-template-areas: 'toc article article';
    }

    @media only screen and (max-width: 1100px) {
        grid-template-columns: 100%;
        grid-template-areas:
        'toc'
        'article'
    }

    @media print {
        grid-template-columns: 100%;
        grid-template-areas:
        'article'
    }

    article {
        grid-area: article;
    }

    aside {
        grid-area: aside;

        // Small sizes we hide the aside
        @include media-breakpoint-down(xl) {
            display: none;
        }

        //Don't display on print
        @media print {
            display: none;
        }
    }
}

.layout-aside {
    grid-template-columns: minmax(0, 1fr) minmax(12em, 15%);
    grid-template-areas: 'article aside';

    @media only screen and (max-width: 1100px) {
        grid-template-columns: 100%;
    }
}

.layout-toc {
    grid-area: toc;

    .navbar-collapse {
        flex-direction: column;
        align-items: stretch;
        margin-top: 0;
    }

    @include media-breakpoint-down(lg) {
        .navbar-collapse {
            margin-top: 1em;
        }
    }

    @media print {
        display: none;
    }
}

//
// Metabar
//
.metabar {
    color: #999;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: center;
}
  
.metabar > li {
    margin: 0 6px;
}
  
.contributors {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  
    & > li {
        margin: 0 4px;
    }
  
    img {
        border-radius: 50%;
    }
}

//
// Aside
//
.in-this-article {
    padding-top: .5em;
    font-size: 14px;
  
    h6 {
        font-size: 1.4em !important;
    }
  
    h6::before {
        content: "\f479";
        font-size: 1.1em;
        padding-right: 0.2em;
    }
  
    .nav {
        display: block;
        padding-left: 16px;
        margin-left: 4px;
        border-left: 2px solid var(--bs-body-color);
  
        a {
            padding: 5px 5px 0px 5px;
        }

        a.active {
            border-left: 3px solid $primary;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}
  
//
// Search
//
.project-search {
    border-color: $secondary;
}

.popover-search {
    --bs-popover-max-width: 35em;
}

@include color-mode(light, true) {
    .project-search-btn {
        --bs-btn-bg: white;
    }    
}
